backports.statistics==0.1.0
fastmcp==2.11.3
fuzzywuzzy==0.18.0
lxml==6.0.0
mcp==1.13.0
numpy==2.3.2
openai==1.99.9
pure_sasl==0.6.2
pystick==0.1.6
regex==2024.11.6
six==1.17.0
sympy==1.14.0
tornado==6.5.1
Twisted==25.5.0
zope==5.13
thrift==0.22.0
